<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a flavor to {{ snack.name }}</h1>
    <a href="/">Return to Home</a>
    <h4>Current Flavors:</h4>
    <ul>
        {% if snack.flavors.all|length == 0 %}
            <li>No Flavors :(</li>
        {% endif %}
        {% for flavor in snack.flavors.all %}
            <li>{{ flavor.name }}</li>
        {% endfor %}
    </ul>
    <form action="/snacks/{{ snack.id }}/add_flavor" method="post">
        {% csrf_token %}
        <p>Flavor Name: <input type="text" name="name" /></p>
        <input type="submit" value="Add Flavor" />
    </form>
</body>
</html>