<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Snacks</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Calories</th>
            <th>Flavors</th>
        </tr>
        {% for snack in snacks %}
            <tr>
                <td>{{ snack.id }}</td>
                <td><a href="/snacks/{{ snack.id }}">{{ snack.name }}</a></td>
                <td>{{ snack.calories }}</td>
                <td>
                    {% for flavor in snack.flavors.all %}
                    {{ flavor.name }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="/create" method="post">
        {% csrf_token %}
        <p>Name: <input type="text" name="name" /></p>
        <p>Calories: <input type="number" name="calories" value="100" /></p>
        <input type="submit" value="Add Snack" /> 
    </form>
</body>
</html>